
.title{
    border-bottom: 3px solid #00FF7F;
  }
.map{
    height: 500px;
    width: 100%;
}
.map-marker{
    margin-top: -30px;
    color:red;
}
.mapBox{
    display: flex;
    justify-content:flex-end;
}
.medleclass{
    margin: 2px;
    margin-bottom: 20px;
}